{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "semi": ["warn", "never"],
    "max-len": [2, {"code": 180, "tabWidth": 4, "ignoreUrls": true}],
    "no-console": ["error", { "allow": ["warn", "error"] }]
  }
}
